<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load bootstrap4 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <title>{% block title %}Sort App{% endblock title %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{% url 'home' %}">Sort</a>
    <a class="nav-link" href="{% url 'sorted' %}">Sorted</a>
</nav>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/\1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbB\JiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</body>
</html>
