{% extends 'base.html' %}

{% block title %}Sorted{% endblock title %}

{% block content %}
    {% for res in sorted %}
    <div class="card mr-auto">
        <div class="card-header">
            <a class="font-weight-bold" href="{{ res.file_content.url }}">{{ res.file_name }}</a>
        </div>
        <div class="card-body">
            <p>Algorithm: {{ res.algorithm }}</p>
            <p>Sorted content: {{ res.result }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock content %}
